<%= simple_form_for @list do |f| %>
  <%= f.input :name %>
  <%= f.input :background, collection: [image_path("film_projector.jpg"), image_path("live_set.jpg"), image_path("cinema_seats.jpg")] %>
  <%= f.button :submit %>
<% end %>


<a class="btn btn-primary" href="/lists" role="button">Back to lists</a>
